<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="#">DCX</a> by <a href="http://www.xnegenx.com">Xnegenx</a></small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
  </footer>
</div>